@font-face {
  font-family: Rocket;
  src: url("/Fonts/rocket-raccoon-free.regular.ttf");
}

@font-face {
  font-family: opinio;
  src: url("/Fonts/opinio.regular.otf");
}

@font-face {
  font-family: beach;
  src: url(/Fonts/beach-party.regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}
 
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: rgb(254, 246, 235);
  margin: 0px;
  padding: 0px;
  height: 9vh;
  z-index: 1;
}

.label {
  position: relative;
  float: right;
  margin-right: 2vh; 
  align-items: center;
  padding-top: 2vh;
}

.btn {
  position: relative;
  float: right;
  margin-right: 2vh; 
  align-items: center;
  padding-top: 2vh;
}
.contact {
  line-height: 5vh;
  border-radius: 7.5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 2.5vh;
  font-family: Arial;
  border: none;
  background-color: rgb(255, 205, 67);
  width: 20vh;
  color: maroon;
}

.contact:hover {
  color: rgb(173, 2, 2);
  background-color: rgb(240, 193, 63);
}

.contactBtn {
 display: flex;
 justify-content: right;
 margin-top: 1vh;

}

header {
  margin-top: 0vh;
width: 100%;
background-color: rgb(254, 246, 235);
}

.halation {
  font-family: Rocket;
  font-size: 1.5em;
  line-height: 2.5vh;
  margin-left: 1.5vh;
}

.videocontainer {
  height: 100vh;
    width: 100%;
    position: relative;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  opacity: .5;
  pointer-events: none;
  
}

.caption {
  font-family: beach;
  z-index: 0;
  position: relative;
  text-align: left;
  opacity: 1;
  padding-top: 50vh;
  font-size: 5vh;
  margin-left: 2vh;
}

body {
  background-color: rgb(254, 246, 235);

}

main {
}

.aboutmain1 {
padding-top: 30vh;
}

.aboutmain {
  padding-top: vh;
  margin-bottom: 1vh;
  width: 100%;
}

.about1 {
  font-family: beach;
  display: flex;
  justify-content: left;
  margin-left: 2vh;
  font-size: 10vh;
}

.about2 {
  font-family: beach;
  display: flex;
  justify-content: left;
  margin-left: 0vh;
  font-size: 10vh;
}

.lstbreak {
  margin-top: 31vh;
  border-top: 4px dashed rgb(134, 44, 44);
}

.youtube1 {
  background: none;
  border: none;
  position: relative;
  float: left
}
.Youtubelink {
  border: none;
  width: 25vh;

}

.teammain {
  background-color: rgb(134, 44, 44);
  padding-top: 50vh;
  padding-bottom: 25vh;
}

.wonka {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.team1 {
  color: rgb(254, 246, 235);
  font-family: beach;
  display: flex;
  justify-content: left;
  margin-left: 2vh;
  font-size: 10vh;
  padding-top: 10vh;
  padding-bottom: 0vh;
  margin-bottom: 0vh;

}
.team2pic {
  width: 25%;
  position: relative;
  float: right;
}

.teamdesc {
  font-family: sans-serif;
  font-size: 3vh;
  color: rgb(254, 246, 235);
  display: flex;
  justify-content: left;
  margin-left: 2vh;
  width: 32%;
}

.wonka1 {
  height: 13px;
  width: 75%;
}

.wonka2 {
  height: 13px;
}