@font-face {
  font-family: Rocket;
  src: url("/Fonts/rocket-raccoon-free.regular.ttf");
}

@font-face {
  font-family: opinio;
  src: url("/Fonts/opinio.regular.otf");
}

@font-face {
  font-family: beach;
  src: url(/Fonts/beach-party.regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
}
 
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: rgb(254, 246, 235);
  margin: 0px;
  padding: 0px;
  height: 9vh;
  z-index: 1;
}

.label {
  position: relative;
  float: right;
  margin-right: 2vh; 
  align-items: center;
  padding-top: 2vh;
}

.btn {
  position: relative;
  float: right;
  margin-right: 2vh; 
  align-items: center;
  padding-top: 2vh;
}
.contact {
  line-height: 5vh;
  border-radius: 7.5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 2.5vh;
  font-family: Arial;
  border: none;
  background-color: rgb(255, 205, 67);
  width: 20vh;
  color: maroon;
}

.contact:hover {
  color: rgb(173, 2, 2);
  background-color: rgb(240, 193, 63);
}

.contactBtn {
 display: flex;
 justify-content: right;
 margin-top: 1vh;

}

header {
  margin-top: 0vh;
width: 100%;
background-color: rgb(254, 246, 235);
}

.halation {
  font-family: Rocket;
  font-size: 1.5em;
  line-height: 3vh;
  margin-left: 1.5vh;
  color: rgb(20, 23, 67);
}

.caption {
  font-family: beach;
  z-index: 0;
  position: relative;
  text-align: left;
  opacity: 1;
  padding-top: 20vh;
  font-size: 4vw;
  margin-left: 2vh;
  color: rgb(20, 23, 67);
}

.about2 {
  font-family: beach;
  display: flex;
  justify-content: left;
  margin-left: 0vh;
  font-size: 8vw;
  color: rgb(20, 23, 67);
}

body {
  background-color: rgb(254, 246, 235);

}

main {
}

.aboutmain1 {
padding-top: 10vh;
}

.aboutmain {
  padding-top: 1vh;
  margin-bottom: 1vh;
  width: 100%;
}

.about1 {
  font-family: beach;
  display: flex;
  justify-content: left;
  margin-left: 2vh;
  font-size: 10vw;
}

.lstbreak {
  margin-top: 45vh;
  border-top: 4px dashed rgb(134, 44, 44);
}

.youtube1 {
  background: none;
  border: none;
  position: relative;
  float: left
}
.Youtubelink {
  border: none;
  width: 15vw;

}

.teammain {
  background-color: rgb(134, 44, 44);
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.team1 {
  color: rgb(254, 246, 235);
  font-size: 6vw;
  font-family: beach;
  margin-left: 1vw;
}

.descriptionleftbottom {
  color: rgb(254, 246, 235);
  font-size: 2vw;
  font-family: beach;
  margin-left: 1vw;
}

.team2pic {
  width: 40vw;
  height: 100%;
}

.description1 {
  display: flex;
  flex-direction: row;
}

.descriptionleft {
  display: flex;
  flex-direction: column;
}

.descriptionright {
  display: flex;
  padding-left: 15vw;
  justify-content: right;

}
